*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 15px;
    width: 250px;
    transition: 0.3s ease;
}

.card img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.card h2{
    color: green;
    font-size: 19px;
}
.card p{
    font-size: 15px;
    color: gray;
    margin-top: 10px;
}
.ntb{
    display: inline-block;
    padding: 12px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-5px);
    transition: 0.3s ease;
}